@import "tailwindcss";

body,
html {
    background-color: #FAF7F2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.padding-opt {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 1rem;
}


:root {
    font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@layer utilities {
    .bg-hero-split {
        background-image: linear-gradient(to right,
                #3f35ff 0%,
                #3f35ff 75%,
                #c8f06a 75%,
                #c8f06a 100%);
    }

    @media (max-width: 768px) {
        .bg-hero-split {
            background-image: linear-gradient(to right,
                    #3f35ff 0%,
                    #3f35ff 100%);
        }
    }
}

@theme {
    --color-hero-blue: #3f35ff;
    --color-hero-lime: #c8f06a;
}

.hero-button {
    padding: 12px 20px 12px 12px;
    background-color: white;
    border-radius: 0.75rem;
    border: 1px solid var(--color-hero-blue);
    font-size: 1.25rem;
    color: var(--color-hero-blue);
}