@import "tailwindcss";

body,
html {
    background-color: #FAF7F2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.padding-opt {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 1rem;
}

.padding-opt-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 1rem;
}


:root {
    font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@theme {
    --color-hero-white: #FFFFFF;
    --color-hero-blue: #3f35ff;
    --color-hero-lime: #c8f06a;
    --color-hero-yrm:#252128;
    --color-hero-blue-nec: #3f35ff;
    --color-hero-lime-nec: #c8f06a;
    --breakpoint-sl: 25rem;
}

@layer utilities {
  .bg-hero-split {
    background-image: linear-gradient(
      to right,
      var(--color-hero-blue-nec) 0%,
      var(--color-hero-blue-nec) 75%,
      var(--color-hero-lime-nec) 75%,
      var(--color-hero-lime-nec) 100%
    );
  }

  @media (max-width: 768px) {
    .bg-hero-split {
      background-image: linear-gradient(
        to right,
        var(--color-hero-blue-nec) 0%,
        var(--color-hero-blue-nec) 100%
      );
    }
  }
}

.hero-button {
    padding: 12px 20px 12px 12px;
    background-color: var(--color-hero-white);
    border-radius: 0.75rem;
    border: 1px solid var(--color-hero-blue);
    font-size: 1.25rem;
    color: var(--color-hero-blue);
}

.dark {
    --color-hero-blue:#c8f06a;
    --color-hero-white:#252128;
    --color-hero-yrm:#FFFFFF;
    --color-hero-blue-nec:#171043;
    --color-hero-lime-nec: #1A210B;
}
