@import "tailwindcss";

body,
html {
  background-color: #FAF7F2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


:root{
    font-family: "Inter", sans-serif;
}

@layer utilities {
    .bg-hero-split {
        background-image: linear-gradient(to right,
                #3f35ff 0%,
                #3f35ff 75%,
                #c8f06a 75%,
                #c8f06a 100%);
    }
}

@layer base {
  h1 { @apply text-6xl md:text-2xl; }
  h2 { @apply text-[2.5rem] md:text-xl; }
  p  { @apply text-2xl md:text-base; }
}

@theme {
    --color-hero-blue: #3f35ff;
    --color-hero-lime: #c8f06a;
}

.hero-button {
    padding: 12px 20px 12px 12px;
    background-color: white;
    border-radius: 0.75rem;
    border: 1px solid var(--color-hero-blue);
    font-size: 1.25rem;
    color: var(--color-hero-blue);
}